@media only screen and (max-width: 600px){
    .nav-container, .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 2% 0%;
    }
    #home {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 2% 2% 0%;
    }
    .nav-list a {
        font-size: 1.5rem;
    }
    .home-content {
        text-align: center;
        padding: 5% 0;
        width: 100%;
    }
    .home-title {
        font-size: 2rem;
        line-height: normal;
        padding-bottom: 10px;
    }
    #home p {
        padding-bottom: 10px;
    }
    .e-commerce {
        margin: 2% 2%;
    }
    .shop-container {
    justify-content: center;
    } 
}
